@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700);
body {
  background-color: #002d56;
  background-image: linear-gradient(135deg, #002d56 0%, #002d56 60%, #808084 60%, #808084 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  margin: 0;
}
img.logo {
  width: 300px;
  padding: 50px 0 0 50px;
}
p {
  color: white;
  font-family: 'Merriweather', serif;
  padding-left: 75px;
  width: 400px;
  margin-bottom: 40px;
}
p span {
  color: #002d56;
  font-weight: bold;
}
.contact {
  position: absolute;
  right: 0;
  bottom: 50px;
}
.contact p {
  margin-bottom: 20px;
}
.contact p span {
  background-image: url(/img/email_blue.png);
  background-size: 21px;
  background-repeat: no-repeat;
  padding-left: 25px;
}


@media only screen and (max-device-width: 1024px)
{
	.contact {
		  display: block;
		  background-color: #808084;
		  padding: 50px 0;
		  margin-top: 70px;

	}

	body {
		background-image: none;
	}

}
